<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>MockInput</string>
    <key>CFBundleIdentifier</key>
    <string>com.poc.mockinput</string>
    <key>CFBundleName</key>
    <string>MockInput</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFPlugInFactories</key>
    <dict>
        <key>9E7B4F2A-1C3D-4E5F-8A9B-0C1D2E3F4A5B</key>
        <string>MockAudio_Create</string>
    </dict>
    <key>CFPlugInTypes</key>
    <dict>
        <!-- kAudioServerPlugInTypeUUID -->
        <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
        <array>
            <string>9E7B4F2A-1C3D-4E5F-8A9B-0C1D2E3F4A5B</string>
        </array>
    </dict>
</dict>
</plist>
